MARITACA_API_KEY=
MARITACA_MODEL=sabia-4
TJSP_SQLITE_PATH=data/tjsp.sqlite3
TJSP_CHROMA_PATH=data/chroma
TJSP_API_MAX_CUSTO_BRL=0.10
TJSP_API_MAX_OUTPUT_TOKENS=2000
TJSP_DIRETORIO_PDFS=data/pdfs
TJSP_API_INTERVALO_TJSP=2.0
TJSP_API_MAX_PAGINAS_TJSP=1
TJSP_API_MAX_IMPORTACAO_PDFS=5
TJSP_API_MAX_MB_PDF=50
TJSP_API_HABILITAR_OCR=true
TJSP_API_MAX_CUSTO_PESQUISA_BRL=0.20
TJSP_API_MAX_CUSTO_ANALISE_BRL=0.20
